{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1 class="text-center"> MENTOR COLUMN </h1>

<br>
<br>
<h6>COLUMN TITLE</h6>
<h4><B>아모레퍼시픽 프리메라, 2021 대한민국 올해의 녹색 상품 수상</B></h4>
<br>
<br>
<hr>

<figure class="text-end">
	<h6> 멘토님 COLUMN </h6>
	<h6> 2021-08-12 </h6>
</figure>
<br>
<br>


<h6>content</h6>
<blockquote>
	아모레퍼시픽 클린 뷰티 브랜드 프리메라의 스킨릴리프 UV 프로텍터 EX가 '2021 대한민국 올해의 녹색 상품'으로 뽑혔다고 12일 밝혔다.
	<br>
	<br>
	프리메라 스킨릴리프 UV 프로텍터 EX는 해양 생태계 보전을 위해 옥시벤존과 옥티노세이트를 포함하지 않았다. 다수 자외선 차단제에 들어가는 화학 성분인 옥시벤존은 산호의 내분비계를 교란하고, 옥티노세이트는 바이러스를 활성화해 산호를 죽게 만든다고 알려졌다. 이 제품은 성분에 민감한 고객도 편안하게 쓸 수 있도록 폴리에틸렌 글리콜(PEG) 계면활성제를 넣지 않았다.
    <br>
	<br>
    용기도 환경 영향을 줄이고자 고심했다. 나무를 베지 않고, 100% 사탕수수 잔여물로 만든 종이 포장재인 얼스팩(Earth Pact)으로 단상자를 제작했다. 내용물은 아모레퍼시픽이 올해 개발한 플라스틱 저감 종이 튜브에 담았다. 기존 원형 튜브 몸체 대비 플라스틱 사용량을 약 70% 줄이고, 최장 36개월간 유통이 가능하다. 기체가 통하지 않는 성질을 높인 나노 증착 필름을 적용해 탁월한 내용물 보호 능력을 발휘한다.
    <br>
	<br>
    아모레퍼시픽 기술연구원 박영호 원장은 "아모레퍼시픽은 앞으로도 기술 연구를 통해 지속 가능한 소재를 개발하고, 적용 범위를 점차 넓혀나갈 계획"이라고 말했다.
    <br>
	<br>   
    한편, 소비자가 직접 뽑는 대한민국 올해의 녹색 상품 시상은 친환경 제품 사용을 독려하고 기업의 녹색 생산을 유도하기 위해 2008년부터 매년 이어오고 있다. 아모레퍼시픽은 처음 참여해 수상하는 쾌거를 이뤘다.
    <br>
	<br>
    yjjoe@fnnews.com 조윤주 기자
</blockquote>
<br>
<br>
<br>
<h6 class="text-center"><a href="https://www.fnnews.com/news/202108120918085042"><B>-기사본문으로 이동하기</B></a></h6>
<hr />



<ul class="actions special">
	<li><a href="{% url 'column_re'%}" class="button primary">수정하기</a></li>
	<li><a href="{% url 'column'%}" class="button">목록으로</a></li>
</ul>
<br>
<br>
<br>
{% endblock %}