{% extends 'mentorbase.html' %}
{% load static %}
{% block content %}
<style>

    .clearfix:before, .clearfix:after {
        content:'';
        display: block;
        clear: both;
    }
    .content {font-family: 'Noto Sans KR', sans-serif; margin: 0 3rem;}
    .content hr {margin: 1rem 0;}
    .date {color: #555555; font-weight:100; float: left; font-size: 0.8rem;}
    .mento {text-align: right; float: right;}
    .mento a {font-size: 1.5rem;}
    .content .info {text-align: right; color: #5C5980; line-height: 1.3rem; margin-top: 1.5rem;}   
    .title {
        font-size: 3rem;
        padding: 2rem 0;
    }
    .text {padding:5rem 0; display: block;}
    .button-position {text-align: center; margin: 5rem 0;}
    .modify-button {float: left;}

</style>

<div class="content">
    <div class="title">여름방학 특별 면담 이벤트!</div>
    <hr>
    <div class="clearfix" style="height: 10rem;">

        <div class="modify-button"><a href="{% url 'event_re' %}">수정하기</a></div>
        <!-- 자기게시글일때 수정할수있게 -->

        <div class="mento">
            <a href="#">멘토 이시윤</a>
            <div class="info">경기대학교<br>네이버 웹디자이너</div>
        </div>
    </div>
    <div class="text">
        <p>
        서울지역에서 여름방학 특별 '찾아가는 취업상담'을 할인가에 진행하고자 합니다!
        <br>
        1회 신청시 할인가 000에 진행됩니다!
        <br>
        신청하고자 하는 분은 글 아래의 신청하기 버튼을 눌러주세요!
        <br>
        신청기간: 8월25일 ~ 9월1일<br>
        상담장소: 신청완료시 <br>
        참여대상: 웹디자인 직무에 관해 취업상담을 하고싶은 누구나!
        </p>        
    </div>
    <div class="date">작성일: 2021.08.11&nbsp;&nbsp;&nbsp;</div><hr>
    <div class="button-position">
        <a href="#" class="button">&nbsp;&nbsp;신청하기&nbsp;&nbsp;</a>
        <a href="{% url 'event' %}" class="button primary">←목록으로</a>
    </div>
    
    

</div> 

        
{% endblock %}