{% extends 'base.html' %}

{% block content %}
{% load static %}

<article class="post featured">
    <header class="major">
        <h2><a href="#">검증된 실무 멘토가 진행하는<br/>
         멘토링 수업에 참여하세요!</a></h2>
        <p>
            취업에 성공한 선배들을 통해 취업과 진로 고민을 해결하세요. <br>
            나만의 포트폴리오 준비, 자소서 준비, 다양한 취업정보들 멘토링을 통해 배워보세요!<br>
            함께 취업을 만들어가 볼까요?
        </p>
    </header>
</article>

<br />
<br>


<div>
    <h5 class="text-center" >나의 직무와 맞는 멘토 찾아보기</h5>
    <br>		
    	<ul class="actions small">
            <li><a href="#" class="button primary small">IT/SW</a></li>
        	<li><a href="#" class="button small">PM</a></li>
            <li><a href="#" class="button primary small">건설/기계/기술</a></li>
        	<li><a href="#" class="button small">광고/홍보</a></li>
            <li><a href="#" class="button primary small">금융/은행/보험</a></li>
        	<li><a href="#" class="button small">디자인</a></li>
            <li><a href="#" class="button primary small">미디어</a></li>
        	<li><a href="#" class="button small">연구개발</a></li>
            <li><a href="#" class="button primary small">유통/물류/무역</a></li>
        </ul>
    
        <ul class="actions small">
        	<li><a href="#" class="button small">인사총무</a></li>
            <li><a href="#" class="button primary small">품질</a></li>
        	<li><a href="#" class="button small">의료</a></li>
            <li><a href="#" class="button primary small">영업/고객상담</a></li>
        	<li><a href="#" class="button small">생산제조</a></li>
            <li><a href="#" class="button primary small">마케팅/기획</a></li>
        	<li><a href="#" class="button small">경영/사무/행정</a></li>
            <li><a href="#" class="button primary small">MD/상품기획</a></li>
        	<li><a href="#" class="button small">SCM</a></li>
        </ul>
</div>

<br />
<br>
<br>
<br>


<h5 class="text-center">이달의 인기 멘토 강좌</h5>
<br>
<div class="card-group" class="text-center">
  <div class="card">
    <a href="...">
      <img src="{% static 'images/반도체.png' %}" class="card-img-top" alt="..." width="300px" height="250px" >
    </a>
    <div class="card-body">
      <h5 class="card-title">연구개발</h5>
      <h6>ooo멘토님</h6>
      <p class="card-text">반도체 회로설계 과정을 이해하고 포트폴리오 준비하기! </p>
    </div>
  </div>
  <div class="card">
    <a href="...">
      <img src="{% static 'images/마케팅.png' %}" class="card-img-top" alt="..." width="300px" height="250px">
    </a>
    <div class="card-body">
      <h5 class="card-title">마케팅</h5>
      <h6>ooo멘토님</h6>
      <p class="card-text">콘테츠 마케팅의 기초와 핵심살펴보고 자소서 첨삭하기!</p>
    </div>
  </div>
  <div class="card">
    <a href="...">
      <img src="{% static 'images/생산제조.png' %}" class="card-img-top" alt="..." width="300px" height="250px">
     </a> 
    <div class="card-body">
      <h5 class="card-title">생산/제조</h5>
      <h6>ooo멘토님</h6>
      <p class="card-text">대기업 반도체 공정기술 살펴보고, 취업에 도움되는 실무강의 수강하기! </p>
    </div>
  </div>
</div>		

<br />
<br>
<br>
<br>

<h5 class="text-center">우리학교 선배 강좌</h5>
<br>
<div class="card-group" class="text-center">
  <div class="card">
    <a href="...">
      <img src="{% static 'images/디자인.png' %}" class="card-img-top" alt="..." width="300px" height="250px">
     </a> 
    <div class="card-body">
      <h5 class="card-title">디자인</h5>
      <h6>ooo멘토님</h6>
      <p class="card-text">경기대 시각디자인 09학번 선배가 진행하는 디자인 멘토링 참여하기!</p>
    </div>
  </div>
  <div class="card">
    <a href="...">
      <img src="{% static 'images/연구개발.png' %}" class="card-img-top" alt="..." width="300px" height="250px">
    </a>
    <div class="card-body">
      <h5 class="card-title">연구 개발</h5>
      <h6>ooo멘토님</h6>
      <p class="card-text">경기대 화학공학과 12학번 선배가 진행하는 화장품 연구 멘토링 참여하기 </p>
    </div>
  </div>
  <div class="card">
    <a href="...">
      <img src="{% static 'images/건축.png' %}" class="card-img-top" alt="..." width="300px" height="250px">
     </a> 
    <div class="card-body">
      <h5 class="card-title">건설/ 기계/ 기술</h5>
      <h6>ooo멘토님</h6>
      <p class="card-text">경기대 건축학과 05학번 선배가 진행하는 플랜트 사업실무 멘토링 참여하기! </p>
    </div>
  </div>
</div>


{% endblock %}