{% extends 'mybase.html' %}

{% block content %}
{% load static %}
<style>
    * {
        font-family: 'Nono Sans KR', sans-serif;
        text-align: center;
    }

    .cashleft {
        border: 1px solid lightblue; 
        border-radius: 10px; 
        padding-top: 1rem; 
        box-sizing: border-box; 
        width: 30%; 
        margin-left: auto; 
        margin-right: auto;
    }

</style>

<div class="main">
    <h1>&#128179;결제&#128179;</h1>

    <hr width="80%" style="margin-right: auto; margin-left: auto;">

    <div class="item">
        <h3>구매 강의</h3>
        <div class="cashleft">
            <img src="{% static 'images/포토샵.jpeg' %}" class="cashimage" width="120px" alt="" >
            <br>
            <h4 style="text-align: center;"> 포토샵 정복하기!</h4>
            <h6 style="text-align: center;">000 멘토님</h6>
        </div>
    </div> 
    
    <hr width="60%" style="margin-right: auto; margin-left: auto; height:10px;border:none;background-color:lightgray;">

    <div class="fee">
        <h3>일반/부가결제</h3>
        <p style="font-family: 'Nono Sans KR', sans-serif; text-align: center; margin-bottom: 0;">적립금 (3,900P 사용 가능)</p>
        <p style="font-family: 'Nono Sans KR', sans-serif; font-size: 10px; text-align: center; margin-bottom: 0;">※ 적립금은 3,000P 이상일 때 사용 가능합니다.</p>
        <form>
            <input type="text" value="사용할 포인트를 입력하세요." class="usepoint" style="font-family: 'Nono Sans KR', sans-serif; width: 40%; margin-left: auto; margin-right: auto;">
        </form>
    </div>

    <hr width="60%" style="margin-right: auto; margin-left: auto; height:10px;border:none;background-color:lightgray;">

    <div class="finalfee">
        <h3>최종 결제 정보</h3>
        <p style="font-family: 'Nono Sans KR', sans-serif; text-align: center; margin-bottom: 0;">
            강의 금액 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            10,000원
        </p>
        <p style="font-family: 'Nono Sans KR', sans-serif; text-align: center; margin-bottom: 0;">
            포인트 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            - 0원
        </p>
        <hr width="40%" style="margin-left: auto; margin-right: auto; margin-top: 1rem; margin-bottom: 1rem;">
        <p style="font-family: 'Nono Sans KR', sans-serif; text-align: center;">
            최종 결제 금액 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            10,000원
        </p>
    </div>

    <hr width="60%" style="margin-right: auto; margin-left: auto; height:10px;border:none;background-color:lightgray;">

    <div class="payment">
        <h3>결제수단</h3>
        <p style="font-family: 'Nono Sans KR', sans-serif; text-align: center;">계좌이체 : 농협 000-0000-0000-0000 (주)멘티스</p>
    </div>

    <ul class="actions" style="width: 150px; margin-left: auto; margin-right: auto;">
        <li>
            <a href="{% url 'cash_check' %}" class="button primary">결제하기</a>
        </li>
    </ul>
</div>

{% endblock %}