{% extends 'mybase.html' %}
{% block content %}

{% load static %}



<article class="post featured">
						<!-- Posts -->
							<section class="posts">
								<article>
								        <p style="font-size: 60px; text-align: center; font-family: 'Noto Sans KR', sans-serif;">인증 대기 중입니다!<br>&#128655;&#128653;&#128662;</p>
                                            <br>
                                        <a href=""{% url 'index' %}"><img src="{% static 'images/강의실가로.jpg' %}" alt="" width="100%"></a>
								</article>
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">

								</div>
							</footer>

					</div>

{% endblock %}